services:

  backend:
    build: ./backend
    ports:
      - "5000:1337"
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=1337
    command: npm run start

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://backend:1337/api
    command: npm run preview
